body {
    background: #b1edff;
}

header {
    vertical-align: middle;
    text-align: center; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

a {
    font-size: 36px;
}

table {
    width: 70%;
    border-collapse: collapse;
    background-color: #f0f8ff; 
    border: 1px solid #000;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  th {
    background-color: #87ceeb;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000; 
    text-align: center;
  }

  td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #b0e0e6;
  }
  
  tr:nth-child(odd) {
    background-color: #e0ffff;
  }